VITE_SUPABASE_URL=https://carvrdhygmjoxtlghxrx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNhcnZyZGh5Z21qb3h0bGdoeHJ4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYxMTcyMDQsImV4cCI6MjEwMTY5MzIwNH0.xmJ6eChinC_UHC1O60hMnjlC7uqnE2sK7Zc2uyfMwRA
